<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InvestGo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LETSGO.styles.css" asp-append-version="true" />
</head>
<style>
    body {
        margin: 0;
        padding: 0;
        font-family: 'Arial', sans-serif;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    main {
        flex: 1;
    }

    footer {
        background-color: #333;
        color: white;
        text-align: center;
        padding: 20px 0;
    }

    .footer-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 1200px;
        margin: 0 auto;
    }

    .footer-section {
        width: 30%;
        margin-bottom: 20px;
    }

    ul {
        list-style: none;
        padding: 0;
    }

        ul li {
            margin-bottom: 10px;
        }

    a {
        color: #fff;
        text-decoration: none;
    }

        a:hover {
            text-decoration: underline;
        }

    .social-media-icons {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

        .social-media-icons a {
            display: inline-block;
            margin: 0 10px;
            font-size: 24px;
            color: #fff;
        }
</style>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="https://www.creativefabrica.com/wp-content/uploads/2018/12/Investment-icon-by-back1design1-3.jpg" style="width:50px; height:40px"/></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="AppUsers" asp-action="Create">Registration</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="AppUsers" asp-action="Invest">Invest</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="AppUsers" asp-action="Display">Dsiplay</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="footer-content">
            <div class="footer-section">
                <h4>Contact Us</h4>
                <ul>
                    <li>123,Jalan TRX,Kuala Klang</li>
                    <li>Email: example@example.com</li>
                    <li>Phone: +601123456789</li>
                </ul>
            </div>

            <div class="footer-section">
                <h4>Follow Us</h4>
                <div class="social-media-icons">
                    <a href="https://www.facebook.com" target="_blank"><img src="https://www.freepngimg.com/thumb/facebook/65541-logo-facebook-icon-free-hq-image.png" width="50px" heigth="50px" alt="Facebook" /></a>
                    <a href="https://twitter.com/?lang=en-my" target="_blank"><img src="http://icons.iconarchive.com/icons/iynque/ios7-style/1024/Twitter-icon.png" width="50px" heigth="50px" alt="Twitter" /></a>
                    <a href="https://www.instagram.com/" target="_blank"><img src="http://pluspng.com/img-png/instagram-png-instagram-png-icon-1024.png" width="50px" heigth="50px" alt="Instagram" "   /></a>
                </div>
            </div>

            <div class="footer-section">
                <h4>Terms and Conditions</h4>
                <ul>
                    <li><a href="https://localhost:7143/Home/Privacy">Privacy Policy</a></li>
                    <li><a href="#">Terms of Service</a></li>
                </ul>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
