@model LETSGO.Models.AppUser

<h1>User Information</h1>

<table>
    <tr>
        <td>UserId:</td>
        <td>@Model.userId</td>
    </tr>
    <tr>
        <td>FirstName:</td>
        <td>@Model.FirstName</td>
    </tr>
</table>

