@{
    ViewData["Title"] = "Home Page";
}
<div class="style" style="padding-bottom:300px">
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about investment In Our Company now.</p>
    </div>
    <div style="background-color: mediumpurple; text-align: center; padding-bottom: 20px">
        <p style="color: white">Start your investment now in just one click<br>Try Now<br>| | |<br>vvv</p>
        <a asp-action="Create" asp-controller="AppUsers" style="border-style: solid; border-color: aqua; background-color: white; position: center; margin-bottom: 5px; margin-top: 5px">Register</a>
    </div>
    <div style="background-color: darkgrey; margin-top:20px">
        <p class="text-center" style="color: white">
            Get our newest invest director, Mr. Kim's book today!!!
        </p>
        <a href="https://mbcstrategic.com/services/advertising/">
            <img src="https://mbcstrategic.com/wp-content/uploads/partnerweb2.jpg" class="img-fluid" style="position: center" />
        </a>
    </div>
</div>
